
body {
    background-color: rgb(37,97,137);
    color: rgb(255,255,255);
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
canvas {
    display: block;
    margin: 0px auto;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

header, footer {
    padding: 10px;
}
